@charset "utf-8";
/* CSS Document */

html {
	font-size: 100%;
}

.text-primary {
	color: #31a8c8 !important;
}

.text-secondary {
	color: #31a8c8 !important;
}

p {
	font-size: 1rem;
}

.table#local-office-hours {
	font-size: 1rem;
}

.table#insurance-providers,
.table#nearby-location,
p,
#patient-portal #portal-features,
#patient-tools .patient-tools-tab,
#faqs,
#footer {
	font-size: 1rem;
}




.services-tabs {
	margin-bottom: 35px;
	margin-top: 35px;
}

.services-tabs .nav-item {
    font-size: 1rem;
    font-weight: 500;
    margin: 5px;
    /* border: 1px solid #191B22;
    border-radius: 3px; */
}

.services-tabs #myTabContent {
	padding: 5px;
}

.services-tabs #myTabContent .list-group-item {
	padding: .5rem .5rem 0.1rem .5rem;
}
ul.list-multi-line li {
    padding: .5rem .5rem 0.1rem 2rem !important;
}
.list-multi-line .material-icons.custom-material-style {
    position: absolute;
    left: 0;
    line-height: 1.2;
}
#portal-features {
	margin-top: 40px;
	margin-bottom: 20px;
}

.lead {
	line-height: 2rem;
}

#practice-description,
#patient-portal,
#patient-tools,
#faqs {
	padding-top: 100px !important;
}

#patient-portal #portal-features .list-group {}

#patient-portal #portal-features .list-group-item {
	padding: .5rem .5rem 0.1rem 2rem;
}

#header-navbar {
	margin-left: 20px;
	margin-right: 20px;
}





.material-icons.custom-material-style {
	vertical-align: middle;
	padding-right: 5px;
}

#imp-notice .material-icons {
	vertical-align: middle;
	padding-right: 5px;
}

ion-icon {
	margin-right: 15px;
}




#hero-section,
#hero-section .d-flex {

	height: 30vh;
}

/* #hero-section{margin-top: 100px;} */

#hero-row-height {
	height: 35vh
}

#hero-cta .btn {
	border-radius: 0.15rem;

}



.portal-button {
	background-color: #31a8c8;
	border-color: #ffffff;
	color: #ffffff !important;
}
.portal-button i {
	color: #ffffff !important;
}

.portal-button:hover,
.portal-button:focus,
.portal-button:active {
	background-color: #191B22;
	border-color: #191B22;
	color: #ffffff !important;
}
.portal-button:hover i, .portal-button:focus i, .portal-button:active i {
	color: #ffffff !important;
}
a.text-dark:hover,
a.text-dark:focus {
	color: #ffffff !important;
}

.appointment-button {
	background-color: #191B22;
	border-color: #191B22;
	color: #fff;
}

.appointment-button:hover,
.appointment-button:focus,
.appointment-button:active {
	background-color: #31a8c8;
	border-color: #31a8c8;
	color: #191B22;
}



#imp-notice .row {

	min-height: 40px;
	vertical-align: middle;
}


.local-panel {

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 15px;

}

#map iframe {
	min-height: 250px;

}

#local-meet-doctors .material-icons {
	vertical-align: middle;
	padding-right: 5px;
}

#cta-call-email .cta-material-icons {
	vertical-align: middle;
	padding-right: 5px;
	border: 1px solid red;
}




.table.table-borderless th {
	border: none;
}

#insurance-providers .list-group-item {
	background: none;
	padding: .5rem .5rem 0.1rem 2rem;
}

#nearby-location .list-group-item {
	border: none;
	padding: 0.25rem 1.25rem;
}

table#nearby-location td,
.table#portal-features td {
	border-top: none;
}





#video-slider {
	padding: 15px;
}

#video-slider #carouselIndicators {
	height: 100%;
}


#video-slider .carousel-indicators {
	bottom: -22px;
}


#testimonials .carousel-indicators {
	bottom: -45px;
}

#testimonials .testimonial-detail {
	line-height: 120%;
}

.material-icons.star {
	font-size: 32px;
}

.material-icons.star-grey {
	font-size: 32px;
}

#testimonials .testimonial-content {
	font-style: italic;
	line-height: 180%;
}

.card.portal-cta {
	width: 100%;
	max-width: 310px;
}

.card.portal-cta .card-body {
	padding: .5rem;
}

.card.portal-cta .card-text {
	text-align: center;
}

.card.stores-cta {
	width: 100%;
	max-width: 310px;
	text-align: center;
}

.card.stores-cta .card-body {
	padding: .25rem;

}

/**#healow-kids iframe{min-height: 430px; height: 100%; width: 100%;}**/

#gallery-slider a.carousel-control-next {
	right: -35px;
}

#gallery-slider a.carousel-control-prev {
	left: -35px;
}

#gallery-slider .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230033cc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#gallery-slider .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230033cc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#gallery-slider .carousel-inner {
	background: #f2fcff;
	border: 1px solid #f2fcff;
	border-top: 0;
}


#gallery-slider .carousel-item {
	padding-top: 2rem;
	padding-bottom: 3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}



#gallery-slider .carousel-indicators {
	bottom: 0px;
}

#healow-steps .row.steps-row-2 {
	margin-top: 25px;
}


.modalCenter {
	top: 50% !important;
	transform: translateY(-50%) !important;
}

body .modal-dialog {
	/* Width */
	/* min-width: 750px; */
	width: auto !important;
	display: inline-block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}


.modal-open .modal {
	z-index: 1050;
}

.practice-code .code {

	letter-spacing: -1px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0px 15px;

}


#patient-tools .patient-tools-tab .list-group-item {
	padding: 0.25rem;
	background-color: rgba(0, 0, 0, 0);
}


/* #patient-tools .patient-tools-tab #p-tools-Content{margin-top: 5px;} */

#patient-tools .tab-pane {
	padding: 3rem;
}


#televisit-bullets i.material-icons,
#reminders-bullets i.material-icons {
	position: relative;
	display: inline-block;
	left: -5px;
	top: -24px;
}

#televisit-bullets p,
#reminders-bullets p {
	display: inline-block;
	margin-left: 0px;
	max-width: 385px;
	width: 90%;
	margin-bottom: 0.5rem;
}


#faqs .card-header {
	padding: 0.25rem 0.75rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#faqs .card {

	border: 1px solid rgba(0, 0, 0, 0);


}

#faqs .card-body {
	padding-top: 0.5rem;
	padding-bottom: 1.5rem;
}

#faqs a.faq-link {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	cursor: pointer;
}



#footer .list-group-item {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.practice-code {
	background: #191B22;
	color: #fff;
	border: 5px solid #191B22;
}

.practice-code .code {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px dotted#ccc;
	color: #31a8c8;
	text-shadow: 0 2px 2px #042509;
	letter-spacing: 1.5px;
}


.practice-code-bg {
	background: #fff;
	color: #000;
}

.vid-iframe iframe {
	width: 100%;
	height: 360px;
}


/** iframe height starts **/

.mgdiframe {
	min-height: 450px;
	height: 100%;
	overflow-x: auto;
}

.mgdiframe-checkin {
	min-height: 340px;
	height: 100%;
	overflow-x: auto;
}

.mgdiframe-reminders {
	min-height: 450px;
	height: 100%;
	overflow-x: auto;
}


.mgdiframe-visits {
	min-height: 450px;
	height: 100%;
	overflow-x: auto;
}

.mgdiframe-mom {
	min-height: 450px;
	height: 100%;
	overflow-x: auto;
}

.mgdiframe-kids {
	min-height: 375px;
	height: 100%;
	overflow-x: auto;
}

.mgdiframe-faqs {
	min-height: 975px;
	height: 100%;
	overflow-x: auto;
}

/** iframe height ends **/

.second-prt{padding-top: 50px;}
@media (min-width:990px) {

	#imp-notice .list-group-item {
		background: none;
		border: none;
	}

	#important-notice .list-group-item {
		padding: 0.75rem 0.25rem;
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		line-height: 1.25rem;
		font-weight: 600;
	}

	#imp-notice .list-group-item {
		background: none;
	}
}

@media (max-width: 767px) {

	.second-prt{padding-top: 0px;}
	/** iframe height starts **/

	.mgdiframe {
		min-height: 450px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-checkin {
		min-height: 600px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-reminders {
		min-height: 1000px;
		height: 100%;
		overflow-x: auto;
	}


	.mgdiframe-visits {
		min-height: 850px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-mom {
		min-height: 900px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-kids {
		min-height: 750px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-faqs {
		min-height: 1550px;
		height: 100%;
		overflow-x: auto;
	}

	/** iframe height ends **/



	#hero-cta .btn {
		display: block;
		width: 100%;
	}



	#header-navbar li .sep {
		display: none !important;
	}

	#imp-notice .material-icons {
		margin-bottom: 20px;
	}

	#imp-notice .list-group-item {

		/* background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.125); */
		background-color: unset;
		border: unset;
	}

	.card.stores-cta {
		width: 100%;
		max-width: 100%;
		text-align: center;
	}

	#healow-app.pt-5 {
		padding-top: 1rem !important;
	}

	#healow-steps .row.steps-row-2 {
		margin-top: 0px;
	}

	.step-icon-padding {
		margin-bottom: 30px;
	}

	.card.portal-cta {
		max-width: 100%;
	}

	#insurance-nearby-location .insurance-border {
		border: none;
	}

	#video-slider .carousel-item.active iframe {
		width: 100%;
		min-height: 175px;
		height: auto;
	}

	#video-slider #carouselIndicators {
		height: 100%;

	}

	#video-slider .carousel-indicators {
		bottom: -20px;
	}

	#practice-intro-content #video-slider p {
		padding-left: 0px;
		padding-right: 0px;
	}


	#footer .list-group-item {
		padding-left: 0px;
	}

	.footer-name {
		margin-top: 30px;
	}

	#faqs a.faq-link {
		padding-left: 0rem;
		padding-right: 0rem;
		cursor: pointer;
	}

	#faqs .card-header {
		padding: 0.25rem 0.55rem;
	}

	#faqs .card-body {
		padding: 0.55rem;
	}

	#patient-tools .tab-pane {
		padding: 1rem 0;
	}

	#patient-tools .p-4 {
		padding: 1rem !important;
	}

	#healow-steps .float-left.ml-3 {
		margin-left: .5rem !important;
	}

	.card.stores-cta.mb-3 {
		margin-bottom: 2.5rem !important;
	}

	#testimonials.container-fluid {
		padding-right: 30px;
		padding-left: 30px;
	}

	#bread-crumbs {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	/* #important-notice {
		margin-bottom: 15px;
	} */

	#important-notice .list-group-item.align-items-center {
		text-align: left;
	}

	#imp-notice .material-icons {
		font-size: 60px;
		float: left;
	}

	#hero-section,
	#hero-section .d-flex {
		height: 100%;
	}

	#hero-section {
		padding: 60px 14px;
	}

	#practice-intro-content p {
		padding-left: 15px;
		padding-right: 15px;
	}

	#practice-description .tab-pane p {
		padding-left: 0px;
		padding-right: 0px;
	}

	.services-tabs #myTabContent {
		padding: 1rem !important;
	}

	body .modal-dialog {
		/* Width */

		min-width: calc(100vw - 20px);

	}

}
@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}
/**Media queries for ipad pro **/
@media (min-width: 1367px) {
	#hero-section {
		height: 100%;
	}

	#hero-section #hero-row-height {
		height: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#healow-steps.pb-5 {
		padding-bottom: 1rem !important;
	}

	#portal-features.mb-5 {
		margin-bottom: 1rem !important;
	}

	#healow-app.pt-5 {
		padding-top: 1rem !important;
	}

}

@media (min-width: 1024px) and (max-width:1366px) {

	#hero-section {
		height: 100%;
	}

	#hero-section #hero-row-height {
		height: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#healow-steps.pb-5 {
		padding-bottom: 1rem !important;
	}

	#portal-features.mb-5 {
		margin-bottom: 1rem !important;
	}

	#healow-app.pt-5 {
		padding-top: 1rem !important;
	}

}


@media (min-width: 767px) and (max-width:990px) {


	/** iframe height starts **/

	.mgdiframe {
		min-height: 650px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-checkin {
		min-height: 650px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-reminders {
		min-height: 820px;
		height: 100%;
		overflow-x: auto;
	}


	.mgdiframe-visits {
		min-height: 575px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-mom {
		min-height: 650px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-kids {
		min-height: 500px;
		height: 100%;
		overflow-x: auto;
	}

	.mgdiframe-faqs {
		min-height: 1200px;
		height: 100%;
		overflow-x: auto;
	}

	/** iframe height ends **/



	.local-panel {
		padding: 10px;
	}

	#header-navbar li .sep {
		display: none;
	}

	#video-slider #carouselIndicators {
		height: 100%;
	}

	.vid-iframe iframe {
		width: 540px;
		height: 300px;
	}

	#video-slider .carousel-indicators {
		bottom: -20px;
	}

	#imp-notice .list-group-item {
		background: none;
		border: 1px solid rgba(0, 0, 0, 0);
		line-height: 1rem;
	}

	#insurance-nearby-location .container {
		padding-left: 0px;
		padding-right: 0px;
	}

	#hero-section {
		height: 100%;
	}

	#hero-section #hero-row-height {
		height: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.step-icon-padding {
		margin-bottom: 100px;
	}

	.practice-code .code {
		font-size: 2.7rem;
	}

	#patient-tools .tab-pane {
		padding: 1rem;
	}

	#footer {
		padding-bottom: 70px;
	}
}

/* Privacy Modal Styling */
#privacyModal .modal-content {
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

#privacyModal .modal-header {
	background-color: #1a56a9;
	color: white;
	border-radius: 10px 10px 0 0;
	padding: 20px;
}

#privacyModal .modal-header .close {
	color: white;
	opacity: 0.8;
	font-size: 1.5rem;
}

#privacyModal .modal-header .close:hover {
	opacity: 1;
}

#privacyModal .modal-title {
	font-weight: 600;
	font-size: 1.5rem;
}

#privacyModal .modal-body {
	padding: 30px;
	line-height: 1.6;
	font-size: 0.95rem;
}

#privacyModal .modal-body h6 {
	color: #1a56a9;
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 1.1rem;
}

#privacyModal .modal-body h6:first-of-type {
	margin-top: 0;
}

#privacyModal .modal-body ul {
	padding-left: 20px;
}

#privacyModal .modal-body li {
	margin-bottom: 8px;
}

#privacyModal .modal-body strong {
	color: #1a56a9;
}

#privacyModal .modal-body a {
	color: #1a56a9;
	text-decoration: underline;
}

#privacyModal .modal-body a:hover {
	color: #0d3d7a;
}

#privacyModal .modal-footer {
	border-top: 1px solid #e9ecef;
	padding: 20px 30px;
}

#privacyModal .modal-footer .btn {
	border-radius: 5px;
	padding: 10px 20px;
	font-weight: 500;
}

/* Privacy button styling in footer */
.privacy-notice-btn {
	border: 2px solid #ffffff !important;
	background-color: transparent !important;
	color: #ffffff !important;
	font-weight: 600 !important;
	font-size: 0.9rem !important;
	padding: 8px 16px !important;
	border-radius: 25px !important;
	transition: all 0.3s ease !important;
	text-decoration: none !important;
	box-shadow: 0 2px 8px rgba(26, 86, 169, 0.2) !important;
}

.privacy-notice-btn:hover {
	background-color: #1a56a9 !important;
	color: white !important;
	border-color: #1a56a9 !important;
	transform: translateY(-2px) !important;
	box-shadow: 0 4px 15px rgba(26, 86, 169, 0.4) !important;
}

.privacy-notice-btn:focus {
	box-shadow: 0 0 0 3px rgba(26, 86, 169, 0.3) !important;
	outline: none !important;
}

.privacy-notice-btn:active {
	transform: translateY(0) !important;
	box-shadow: 0 2px 8px rgba(26, 86, 169, 0.3) !important;
}

/* Make the button more prominent on mobile */
@media (max-width: 768px) {
	.privacy-notice-btn {
		font-size: 0.85rem !important;
		padding: 6px 12px !important;
	}
}